.container{
    margin: 100px ;
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
}
th{
    border: 0.5px solid white;
    padding: 2px 10px;
}
table { 
    border-spacing: 0;
    border-collapse: collapse;
}
td{
    border: 0.5px solid white;
    padding: 2px 10px;
    text-align: center;
}
#total-price{
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
}
#del-btn{
    background-color: rgb(201, 0, 0);
    color: white;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
#place-order{
    margin-top: 20px;
    display: flex;
    font-size: 20px;
    justify-content: center;
}
#place-btn{
    background-color: rgb(26, 255, 26);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    font-weight: bolder;
}
#place-btn:hover{
    background-color: rgb(29, 170, 29);
    color: white;
}